.head {
    background-color: #a9a9a9;
    height: 35px;
    font-weight: bold;
    padding: 10px 0 0 18px;
    font-size: 15px;
}
        
.Foot {
    background-color: #dadada;
    vertical-align: middle;
    padding: 16px;
    font-weight: bold;
    font-size: 15px;
}
        
.ename {
    font-weight: bold;
    display: block !important;
    opacity: .87;
}
        
.tempName {
    padding: 5px 42px;
    opacity: .87;
}
        
.temp {
    margin-top: -10px;
    opacity: .54;
}
        
.eimg {
    border-radius: 50%;
    padding: 10px 16px;
    width: 60px;
    height: 60px;
    float: left;
}
        
.tempImg {
    padding-bottom: 3px;
    border-radius: 50%;
    float: left;
}
        
.e-dropdownbase .e-list-item * {
    display: block;
}