#buttonAction {
    position: relative;
    height: 40px;
}

    #buttonAction > div {
        width: 220px;
        position: absolute;
        right: 0px;
    }

.validationError {
    background-color: #FF8A8A;
}

.customAlign {
    float: left;
    padding-right: 20px;
}

.e-scheduledialog table td {
    padding: 5px !important;
}