ej-report-viewer{
    display: block;
    height: 645px;
}

.e-reportviewer * {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
